rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User root document (Profile, Preferences & Settings)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // User Schedules subcollection
      match /schedules/{scheduleId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // User Custom Profiles subcollection
      match /profiles/{profileId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      // User Notifications subcollection
      match /notifications/{notificationId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
